<!--<section>-->
  <h1 class="title has-text-centered"><span class="red-168-text">S</span>ign In</h1>

  <%= form_tag(login_path) do %>
    <div class="field">
      <%= label_tag :email, nil, class: 'label' %>.....
      <%= email_field_tag :email, nil, class: 'input', placeholder: 'Enter your email' %>
    </div>

    <div class="field">
      <%= label_tag :password, nil, class: 'label' %>..
      <%= password_field_tag :password, nil, class: 'input', placeholder: 'Enter your password' %>
    </div>

    <div class="field">
      <div class="control">
        <%= submit_tag 'Sign In', class: 'tui-button' %>
      </div>
    </div>
  <% end %>
  <p class="has-text-centered">
    Don't have an account? <a href='?form_action=register'><span class="red-168-text">S</span>ign up</a>
  </p>
<!--</section>-->