<!DOCTYPE html>
<html>
<head>
  <title>RedPiccolo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bulma", "data-turbo-track": "reload" %>
  <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<!--  <script src="https://unpkg.com/htmx.org@1.9.8"></script>-->
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'application' %>
</head>

<body>
<% flash.each_with_index do |type_and_message, index| %>
  <div id="<%= type_and_message.first %>-<%= index %>" class="notification is-<%= type_and_message.first %>">
    <button class="delete"></button>
    <%= type_and_message.last %>
  </div>
<% end %>
<%= yield %>
</body>
</html>
